##################################################
# >> RAG Proxy Configuration
##################################################


# Listen address for the proxy server
Listen = "0.0.0.0:11434"
IDFFile = "/home/piqnyx/.local/bin/ragproxy/deploy/idf.json"
# Autosave IDF file interval
AutoSaveIDFInterval = "1m"
# Token buffer reserve % (positive will add reserve, negative will reduce)
TokenBufferReserve = 1
# Tags used to parse clean user prompt
UserMessageTags = ["userRequest", "prompt"]
# Tags used to parse files and other attachments
UserMessageAskAttachmentTags = [
    "attachment"
]
UserMessageAgentAttachmentTags = [
    "editorContext"
]
# Lower is more precise
Temperature = 0.5
SystemMessageInstructions = ""


##################################################
# >> Ollama
##################################################


# Ollama base URL
OllamaBase = "http://127.0.0.1:11435"
# Keep alive after message for Ollama
OllamaKeepAlive = "10s"
OllamaUnloadOnLoVRAM = true

# Embedding model for vectorization
EmbeddingModel = "qwen3-embedding:8b-q8_0"
# Endpoint for embeddings API
EmbeddingsEndpoint = "/api/embeddings"
EmbeddingsModeWindowSize = 40960

# Main model for chat
MainModel = "qwen3-coder:30b-a3b-q8_0"
MainModelWindowSize = 262144


##################################################
# >> Qadrant
##################################################


# Qdrant host
QdrantHost = "localhost"
# Qdrant port
QdrantPort = 6334
# Qdrant keep alive send packet every 10s
QdrantKeepAlive = 10
# Qdrant collection name
QdrantCollection = "ragmem"

# Vector metric (Cosine | Euclid | Dot)
QdrantMetric = "Cosine"
# Vector size
QdrantVectorSize = 4096


##################################################
# >> Storing
##################################################

# Maximal size of file to store in DB (-1 unlimited)
MaxFileSize = 524288
# Extensions of files to store
FilePatterns = [
  '(?i)^(?:.*[\\/])?.*\.(?:go|sum|mod|cpp|c|h|hpp|md|toml|service)$',
  '(?i)^(?:.*[\\/])?(?:CMakeLists\.txt|CMakePresets\.json)$'
]


##################################################
# >> Search for feeding
##################################################


# >>> First Step

# Select where to search. Available value: rag-user, rag-assistant, rag-file
SearchSource = [
    "rag-user", 
    "rag-assistant", 
    "rag-file"
]
# Trim by time window. Last X days of memory (-1 from the begining of the world)
SearchMaxAgeDays = -1
# Limit Top K results (not 0, -1 is nolimit)
SearchTopK = 50
CosineMinScore = 0.45
EuclidMaxDistance = 0.8

# >>> Second Step

# Must be equal or lower than SearchTopK (not 0, -1 is nolimit)
RerankTopN = 20
MinRankScore = 0.4
# 75% of MainModelWindowSize
MaxQueryTokens = 196608 
TokensCacheTTL = "30m"
TokensCacheSize = 50000
TauDays = 365.0
MaxTokensNormalization = 196608
MinTokensNormalization = 512
DefaultWeights = [
    # Light features
    0.35, # EmbSim
    0.08, # Recency
    0.05, # RoleScore
    0.02, # BodyLen
    # Heavy features
    0.18, # KeywordOverlap
    0.12, # WeightedOverlap
    0.10, # BM25
    0.04, # NgramOverlap
    0.04  # WeightedNgram
]
ReturnVectors = false
BM25K1 = 1.7 
BM25B = 0.65
BM25NormMidpoint = 1.6
BM25NormSlope = 0.8
BM25UseLogNorm = true
BM25LogNormScale = 25.0
UseBM25IDF = true
RoleWeights = { rag-user = 1.0, rag-file = 0.85, rag-assistant = 0.7 }

##################################################
# >> Feed
##################################################


# User prompt will be feeded with some of found contexts. How much space of full model context to feed in %? (minimal 1)
FeedAugmentationPercent = 25


##################################################
# >> Logs
##################################################


# Verbose disk logs
VerboseDiskLogs = false


##################################################
# >> System Message Patch
##################################################


SystemMessageFile = "/var/log/ragproxy/systemmsg.txt"
[SystemMessagePatch]
Replace = { "GitHub Copilot" = "Жора" }
AddToBegin = []
AddToEnd = ["Write comments in the code in English. Speak to the user only in Russian.","Context messages may also contain other documents that should be reviewed. Messages with the roles `rag-user`, `rag-assistant`, and `rag-file` may appear in the dialog. They contain extracted actual data (e.g., user code, code snippets, documentation, attachments, your responses, user requests). `rag-user` are user messages that exited the context window but were added by the RAG repository to update the request. `rag-assistant` are your responses that exited the context window. `rag-file` are user files that have the highest priority for review; please be attentive to better understand the request.","**Base your response on information from `rag` messages when relevant.**"]
AddAfter = []
Remove = ["Avoid content that violates copyrights.", "Follow Microsoft content policies.", "If you are asked to generate content that is harmful, hateful, racist, sexist, lewd, or violent, only respond with \"Sorry, I can't assist with that.\""]