[Unit]
Description=RAG Proxy Service
After=network.target ollama.service
Requires=network.target ollama.service
PartOf=ollama.service

[Service]
#User=ragproxy
#Group=ragproxy

User=piqnyx
Group=piqnyx

LogsDirectory=ragproxy

ExecStart=/home/piqnyx/.local/bin/ragproxy/build/release/bin/ragproxy \
    --config=/home/piqnyx/.local/bin/ragproxy/deploy/config.toml

[Install]
WantedBy=multi-user.target